/* src/components/BackgroundGrid/BackgroundGrid.module.css */

.gridContainer {
	position: fixed;

	inset: 0;

	pointer-events: none;

	z-index: -1;

	overflow: hidden;
}

/* GRID */
.grid {
	position: absolute;

	inset: 0;

	background-image:
		linear-gradient(
			color-mix(in srgb, var(--primaryColor) 8%, transparent) 1px,
			transparent 1px
		),
		linear-gradient(
			90deg,
			color-mix(in srgb, var(--primaryColor) 8%, transparent) 1px,
			transparent 1px
		);

	background-size: 50px 50px;

	mask-image: radial-gradient(circle at center, black 20%, transparent 85%);

	-webkit-mask-image: radial-gradient(
		circle at center,
		black 20%,
		transparent 85%
	);

	animation: moveGrid 20s linear infinite;
}

/* EXTRA GLOW LAYER */
.grid::before {
	content: "";

	position: absolute;

	inset: 0;

	background: radial-gradient(
		circle at top right,
		color-mix(in srgb, var(--primaryColor) 10%, transparent),
		transparent 40%
	);

	filter: blur(80px);

	opacity: 0.8;
}

/* SUBTLE GRID MOVEMENT */
@keyframes moveGrid {
	0% {
		transform: translateY(0px);
	}

	100% {
		transform: translateY(50px);
	}
}
