.projects{
    display: block;
    text-align: left;
}
.projects>ul{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:10px;

}
.projects>ul>li{
    color: black;
    width: 500px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    flex-grow: 1;
    aspect-ratio: 16/9;
    color:white;
    position: relative;
    overflow: hidden;
}
.projects>ul>li::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}

.projects>ul>li:hover::after{
    background-color: rgba(0,0,0,.8);
    opacity: 1;
}

.projects>ul>li>h3{
    font-size: 2rem;
    margin-bottom: 0;

}
.projects>ul>li>p,
.projects>ul>li>h3,
.projects>ul>li>.icon{
 opacity: 0;
}
.projects>ul>li:hover p,
.projects>ul>li:hover h3,
.projects>ul>li:hover .icon{
    opacity: 1;
    z-index: 2;
}
.icon{
    position: absolute;
    bottom: -10%;
    right: 46%;
    border-radius: 50%;
    background-color: var(--primaryColor);
    transition: bottom 1s ease;
    display: block;
}
.projects>ul>li:hover .icon{
    position: absolute;
    bottom: 30%;
}