.aboutContainer{
    display: flex;
    position: relative;
}
.col1{
flex-basis: 50%;
display: flex;
    justify-content: center;
    align-items: center;
}
.col1>img{
    width: 50%;
}
.col2{
    flex-basis: 50%;
    text-align: start;
    
}
.buttonContainer{
    display: flex;
    gap:20px;
    
}
.buttonContainer>button{
    background-color: transparent;
    border-style: none;
    color: white;
}
.buttonContainer>button:hover{
    color:var(--primaryColor,#f9004d);
}
.buttonContainer>button::after{
    content: "";
    height: 2px;
    width: 0px;
    background-color: white;
    transition: width linear 0.2s;
    display: block;
}
.buttonContainer>button:hover::after{
    content: "";
    width: 100%;
    background-color: var(--primaryColor,#f9004d);
}

@media screen and (max-width:600px) {
    .aboutContainer{
        flex-direction: column;
    }
    .col1{
        display: none;
    }
}