.aboutContainer{
    display: flex;
}
.col1{
flex-basis: 50%;
/* border: 1px solid blue; */

}
.col1>img{
    width: 50%;
    aspect-ratio: '2:3';
}
.col2{
    flex-basis: 50%;
    text-align: start;
    /* border: 1px solid violet; */
}
.buttonContainer{
    display: flex;
    gap:20px;
    
}
.buttonContainer>button{
    background-color: transparent;
    border-style: none;
    color: white;
    font-size: 20px;
}
.buttonContainer>button:hover{
    color:var(--primaryColor,#f9004d);
}
.buttonContainer>button::after{
    content: "";
    height: 2px;
    width: 0px;
    background-color: white;
    transition: width linear 0.2s;
    display: block;
}
.buttonContainer>button:hover::after{
    content: "";
    width: 100%;
    background-color: var(--primaryColor,#f9004d);
}