.homeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}
.col1{
    flex-basis: 50%;
    text-align: left;
    text-align: center; 
}
.col1>h1>span{
    font-size: 4rem;
    color:var(--primaryColor,#f9004d);
}
.col1>h4{
    font-size: 30px;
}
.col1>h2{
    font-size: 40px;
}
.homeButtonContainer{
    display:flex;
    gap:2rem;
    justify-content:center;
    margin-top:2rem
}
.homeButtonContainer> button a{
    background-color: var(--primaryColor,#f9004d);
}
.col2{
    flex-basis: 50%;
    align-self: flex-end;    
}
.col2>img:nth-child(1){
    display: block;
    max-width: 40%;
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: transform 0.4s ease-in;
}
.col2:hover >img:nth-child(1){
  transform: translate(0.3rem, -1rem);
}
.col2>img:nth-child(2){
    display: block;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: transform 0.4s ease-in;
}
.col2:hover >img:nth-child(2){
  transform: translate(-1rem, 0rem);
}

.iconsContainer{
    display: flex;
    gap:10px;
    justify-content: center;
}
.icon{
    font-size: 30px;
    display: inline-block ;
    cursor: pointer;
    transition: transform 0.3s ease ,visibility 3s ease ;
    position: relative;
    color: var(--primaryColor);
}
.icon:hover{
    transform: translateY(-0.5rem) scale(1.1);
}


/* //////// for small screen */
@media screen and (max-width:600px){
    .homeContainer{
        width: 100vw;
        display: block

    }
    .col2{
        width: 100%;
    }
    .col2>img{
        display:block;
        position: relative;
        width: 100% ;
        max-width: 100%;

    }
    .col1{
        width: 100%;
        text-align: left;
        align-self: flex-start;
        padding-top: 10px;
        position: relative;
        margin-top: 50px;
    }
}