.homeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.col1{
    width: 50%;
    text-align: left;
    /* align-self: flex-start; */
    /* padding-top: 30px; */
    /* position: relative;
    top: 40px;
    left: 60px; */
    text-align: center;

    
}
.col1>h1{
    font-size: clamp(1rem, 4rem, 10vw);
}
.col1>h1>span{
    font-size: 4rem;
    color:#f9004d;
}
.col1>h4{
    font-size: 30px;
}
.col1>h2{
    font-size: 40px;
}
.col2{
    width: 50%;
}
.iconsContainer{
    display: flex;
    gap:10px;
    justify-content: center;
}
.icon{
    font-size: 30px;
    display: inline-block ;
}


/* //////// for small screen */
@media screen and (max-width:600px){
    .col2{
        display:none
    };
    .col1{
        display: none;
        width: 100%;
        text-align: left;
        align-self: flex-start;
        padding-top: 10px;
        position: absolute;
        top: 40px;
        left: 0px;
        background-color: red;
        
    }
}