.homeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.col1{
    flex-basis: 50%;
    text-align: left;
    text-align: center; 
}
.col1>h1>span{
    font-size: 4rem;
    color:var(--primaryColor,#f9004d);
}
.col1>h4{
    font-size: 30px;
}
.col1>h2{
    font-size: 40px;
}
.homeButtonContainer{
    display:flex;
    gap:2rem;
    justify-content:center;
    margin-top:2rem
}
.homeButtonContainer> button a{
    background-color: var(--primaryColor,#f9004d);
}
.col2{
    flex-basis: 50%;
    align-self: flex-end;    
}
.col2>img:nth-child(1){
    display: block;
    max-width: 50%;
    width: 38%;
    position: absolute;
    bottom: 0;
    right: 2rem;
    transition: transform 0.4s ease-in;
}
.col2:hover >img:nth-child(1){
  transform: translate(0.3rem, -1rem);
}
.col2>img:nth-child(2){
    display: block;
    max-width: 90%;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: transform 0.4s ease-in;
}
.col2:hover >img:nth-child(2){
  transform: translate(-1rem, 0rem);
}

.iconsContainer{
    display: flex;
    gap:10px;
    justify-content: center;
}
.icon{
    font-size: 30px;
    display: inline-block ;
    cursor: pointer;
    transition: transform 0.3s ease ,visibility 3s ease ;
    position: relative;
    color: var(--primaryColor);
}
.icon:hover{
    transform: translateY(-0.5rem) scale(1.1);
}


/* //////// for small screen */
@media screen and (max-width:920px){
    .homeContainer{
        flex-direction: column;
        justify-content: center;
        gap:3rem;
        align-items: center;
        position: static;

    }
    .col1{
        width: 100%;
        text-align: left;
        align-self: flex-start;
        padding-top: 10px;
        position: relative;
    }
    .col2>img:nth-child(1){
        display: none
    }
    .col2>img:nth-child(2){
        display: block;
        max-width: 100%;
        width: 100%;
        position: static;
        transition: transform 0.4s ease-in;
    }
}