.contactContainer{
    flex-direction: column;
    height: 80vh;
}
.col1{
    flex-basis: 40%;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}
.col1>h1{
    font-size: 3rem;
    margin-top: 0;
}
.col1>a{
    text-decoration: none;
    color: white;
    margin-bottom: 1rem;
    display: inline-block;
}
.contactContainer [role='button']{
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--primaryColor);
    font-weight: 400;
    font-size: 1.2rem;
    transition: transform 0.2s ease-in;
    margin-top: 0
}
.col2{
    flex-basis: 60%;
}
.iconsContainer{
    display: flex;
    gap:10px;
}
.icon{
    font-size: 30px;
    display: inline-block ;
    color: var(--primaryColor);
}
.form{
    display: flex;
    flex-direction: column;
    gap:0.7rem;
}
.inputField{
    height: 2.0em;
    background-color: rgb(38, 38, 38);
    border-style: none;
    padding-left: 1rem;
    color: white;
    font-size: 1.4rem;
    border-radius: 0.5rem;
}
.textField{
    background-color: rgb(38, 38, 38);
    height: 10rem;
    border-style: none;
    padding-left: 1rem;
    color: white;
    font-size: 1.4rem;
    border-radius: 0.5rem;
}
.submitButton{
    width: 15rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: var(--primaryColor,#f9004d);
    color:var(---textColor1,010101);
    font-weight: 400;
    font-size: 1rem;
    border-style: none;
    transition: transform 0.2s ease-in;
}
[type='submit']:hover{
    transform: scale(1.04);
}
.skillScroll{
    width: 80%;
    margin: auto;
    position: relative;
    height: 30px;
    overflow: hidden;
}
@keyframes scrollLeft {
    to{
        left: -100px;
    }
}
.skill{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    position:absolute;
    left: 100%;
    display: flex;
    align-items: center;
    gap:0.3rem;
    animation: scrollLeft var(--animationDuration) linear infinite;
}
.errorText{
    color: var(--primaryColor);
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

@media  screen and (max-width:920px) {

    .contactContainer>div{
        flex-direction: column;
    }
}