.header{
    color: var(--textColor,white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 97vw;
    height:100px;
    background-color:var(--backgroundColor,black)
}
.navigation{
    list-style-type: none;
    display: flex;
    gap:10px;
    margin-right: 20px;
}
.navigation>li{
    cursor: pointer;
    font-size: 20px;
}
.navigation>li>a{
    color:var(--textColor);
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.4s ease;
}
.navigation>li>a:hover{
    color:var(--primaryColor,#f9004d);
    /* font-size: 1.6rem; */
}
.navigation>li>a::after{
    content: "";
    background-color: white;
    height:2px;
    width: 0%;
    display: block;
    transition: width linear 0.3s;
}
.navigation>li>a:hover::after{
    content: "";
    background-color: var(--primaryColor,#f9004d);
    width: 100%;

}
.title{
    font-size: 40px;
}
.title>span{
    color:var(--primaryColor,#f9004d);

}
