.certificatesContainer{
    padding: auto;
    overflow: auto;
    margin-bottom: 8rem;
} 
.title{
    color: white;
    text-align: start;
}
.certificates{
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    width: 80%;
    margin: auto;
    gap: 10px;
    overflow-x: scroll;
    /* background-color: aquamarine; */
    
}
.certificate{
    height: 300px;
    width: 400px;
    opacity: 1;
    border:1px solid rgba(255, 255, 255, 0.2);
    color: black;
    background-color: white;
    flex-shrink: 0;
}