.certificatesContainer{
    height: 100vh;
    padding: auto;
    overflow: auto;
}
.title{
    color: white;
    text-align: start;
}
.certificates{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(300px,1fr));
    gap:15px;
    padding-left: 0px;
    
}
.certificate{
    height: 300px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px) brightness(1.2);
    box-shadow: 0 4px 10px rgba(255,255,255,0.3);
    border:1px solid rgba(255, 255, 255, 0.2);
    color: white;
}