.App {
  text-align: center;
  background-color: var(--backgroundColor,black);
  color: var(--textColor,white);
  padding: 0px 5px 0px 20px;
  font-family: "Josefin Sans", sans-serif;
  height:100vh
}
.content{
  height: calc(100vh - 150px);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior:smooth;
}
.scrollSection{
    height: calc(100vh - 150px);
    scroll-snap-align: var(--scrollAlign);
    scroll-margin-top:var(--scrollMarginTop) ;
    scroll-margin-bottom: -100px;
    text-align: left;
    display: flex;
}
p{
  font-size: 1rem;
  line-height: 2rem;
  text-overflow: ellipsis;
}
button{
  background-color: var(--primaryColor,#f9004d);
  color: var(--textColor,white);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
}
a[role="button"]{
  text-decoration: none;
  color: var(--textColor,white);
  background-color: var(--primaryColor,#f9004d);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
}
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #29bb42;
  padding: 5px;
  border-radius: 50%;
  animation:alternate-reverse whatsappblink 2s infinite;
}

@keyframes whatsappblink {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 0 20px 10px #29bb42;
  }
}

.whatsapp-float img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.whatsapp-float img:hover {
  transform: scale(1.1);
}


@media screen and (max-width:920px) {
  .App{
    scroll-snap-type: none;
  }
  .scrollSection{
    height: fit-content;
  }
  .content{
    scroll-snap-type: none;
    scroll-behavior:smooth;
  }
}