* {
  box-sizing: border-box;
}
/* --variableName: value */
/* var(--variableName,fallbackValue) */


:root{
  --primaryColor:rgb(170, 0, 50);
  --backgroundColor:black;
  --textColor:white;
  --animationDuration:30s;
  --pageHeight:100vh;
  --scrollAlign:start;
  --scrollMarginTop:0px
}

html{
  /* scroll-padding-top: 100px; */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  margin-block: 10px;
  border-radius:10px
}
::-webkit-scrollbar-thumb{
  background-color: var(--primaryColor,#f9004d);
  border-radius: 10px;
  border:1px solid white
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width:920px) {
  ::-webkit-scrollbar{
    width: 0
  }
}
